<div class="container-fluid">
  <div class="row">
    <!-- 
    <div class="col-sm-12 col-md-9 col-lg-10">
        <h3  style="float: left;">All Meetings</h3>
      </div> -->
    <!--user info and logout-->
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="btn-group" role="group" style="float: right;">
        <button id="userDrop" type="button" class="btn btn-outline-info" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">{{adminUserDetails.firstName}} {{adminUserDetails.lastName}}
        </button>
        <br>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDrop">
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <a class="btn btn-primary" style="float: left;" (click)="meetingSchedule()">Schedule a Meeting</a>
    </div>


  </div>
  <!--end user info adn logout-->

  <div class="row" style="text-align:center">
    <div class="col-md-12" style="font-size:22px">All Meetings </div>
    <br><br>
  </div>
  <div class="row" style="text-align:center" *ngIf='allMeetings.length>0'>
    <!--iterative div starts here-->
    <div *ngFor="let meeting of allMeetings" class="col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">{{meeting.title | uppercase}}</div>
        <div class="panel-body">

          <p>{{meeting.description}}</p>
        </div>
        <div class="panel-footer">start on {{meeting.startAt | date}}<br /> for : {{meeting.userName}} <br> email :
          {{meeting.userEmail}}
          <br /><br /><a [routerLink]="['/event/',meeting.eventId]" class="btn btn-primary">View</a>

        </div>

      </div>

      <br />
    </div>
    <!-- iterative div ends-->

  </div>


</div>
<!--container end-->