<!--meeting modal info-->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">My Meeting Details</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">

        <div class="card">
          <div class="card-body">

            <div class="row">
              <div class="col-4">
                <h5> Topic </h5>
              </div>
              <div class="col-8">
                <h6 class="card-title">{{modalData?.event.title}} by {{modalData?.event.createdBy}}</h6>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <h5> Info: </h5>
              </div>
              <div class="col-8">
                <h6 class="card-title">{{modalData?.event.description}}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <h5>Date and Time</h5>
              </div>
              <div class="col-8">
                <h6 class="card-title">{{modalData?.event.start | date: 'medium'}} - {{modalData?.event.end
                  | date: 'medium'}}</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <h5>Location </h5>
              </div>
              <div class="col-8">
                <h6 class="card-title">{{modalData?.event.where}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!--end meeting info-->

<!--meeting reminder-->
<ng-template #modalAlert let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Meeting Reminder</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6 class="card-title">Your meeting <span><i> {{modalData?.event.topic}} </i></span> will start soon!</h6>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="close();remindMe =true">Snooze</button>
    <button type="button" class="btn btn-outline-secondary" (click)="close();remindMe=false">Dismiss</button>
  </div>
</ng-template>
<!--end reminder-->

<div class="container-fluid">

  <!--user info and logout-->
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="btn-group" role="group" style="float: right;">
      <button id="userDrop" type="button" class="btn btn-outline-info" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">{{userDetails.firstName}} {{userDetails.lastName}}
      </button>
      <br>

      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDrop">
        <a class="dropdown-item" (click)="logout()">Logout</a>

      </div>
    </div>

  </div>
  <!--end user info adn logout-->
  <br><br>

  <!-- view buttons-->
  <div class="row text-center border-bottom border-info">
    <div class="col-sm-12 col-md-2 col-lg-3">
      <h4 class="border border-info" style="color: blue">Welcome {{userDetails.firstName}}</h4>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="btn-group">

        <div class="col-md-3 col-sm-3 btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          < </div> <div class="col-md-6">
            <h4>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h4>
        </div>
        <div class="col-md-3 col-sm-3 btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          >
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3 col-lg-3">
      <div class="btn-group">
        <button style="margin-right: 10px;" type="button" class="btn btn-light" mwlCalendarToday
          [(viewDate)]="viewDate">
          Today
        </button>

        <select [(ngModel)]="view" name="view" class="form-control">
          <option value="month">Month</option>
          <option value="week">Week</option>
          <option value="day">Day</option>
        </select>

      </div>


    </div>
  </div>

  <!-- end view buttons-->

  <!--calender -->
  <div class="row">

    <div class="col-12 border border-info">

      <div [ngSwitch]="view" style="overflow-y:scroll">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>

        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>

        <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>

      </div>

    </div>
  </div>
  <!--end calender -->

</div>
<!--end div container-->