<div class="container">
  <div class="row">
    <div style="padding:2%" class="col-md-4">
      <div style="margin-top:10vh" class="center">
        <h1 style="color : blue">Meeting Planner - A new profession of life</h1>
      </div>
      <div>
        <h2>Plan it now</h2>
      </div>

      <div>
        <a href="/signup" class="btn btn-primary btn-lg">Let's Start</a>
      </div>
      <div style="font-size: 20px; margin-top:10%">
        <p>Make Yourself organizable</p>
      </div>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <img width="100%" src="../assets/meeting-planning.jpg">
    </div>
  </div>
  <div style="margin-bottom:20vh"> </div>
  <div class="row">
    <div class="col-md-4">



    </div>
  </div>

</div>